p {
  margin-bottom: 5px;
}
  label {
    display: block;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  input[type=text] {
    margin: 0 0 10px;
    color: #555;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    width: 100%;
    max-width: 300px;
    font-size: 14px;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    height: 32px;
    line-height: 1.3;
  }
  .App {
    background-color: #eaeaea;
    width: 100%;
    display: table;
  }
  
  .App > .Content {
    display: table;
    margin: 0 auto;
    padding: 50px 10px;
    width: 100%;
    max-width: 900px;
  }
  
  .App h2 {
    color: #ff7f00;
    font-size: 30px;
    font-weight: 400;
    padding: 0;
  }
  .Next {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
  .Next:hover{
    background-color: #37843a;
  }
  .Next:disabled{
    cursor: not-allowed;
    background-color: #7aa07c;
  }
  .Back {
    background-color: #c77f27;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
  .Back:hover{
    background-color: #9e631b;
  }